# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Environment variables (keep secrets safe)
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.DS_Store
.idea/
.vscode/
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts
